mixin drop-down(data)
    +b.drop-down(class!=attributes.class)
        +e('label').label #{data.text}
        select.js-select(name=data.name) #{data.stroke}
            each item in data.items
                +e('option')(id=`${item.id}` value=`${item.value}`) #{item.content}
        +e('p').text #{data.option}