//- ====================
//- aurinko: radio
//- 26-07-2020: sashakasha
//- --------------------
//- Radio
//- ====================

mixin radio(textLabel, name, id, checked, js, value)
    +b.radio(class!=attributes.class)
        +e('input')(type='radio', name=name, id=id, value=value, checked=checked || false).input
        +e('label').label(for=id, class!=attributes.class, class=(js ? js : ''))
            if textLabel
                +e('span').text-label(class!=attributes.class) !{textLabel}
        block