include title.pug

mixin values(data)
    +b.values(class!=attributes.class)
        +title('h2')(class=data.title_mod).--h2.--values !{data.title}
        +e('div').wrap-item
            each item in data.items
                +e('div').item
                    +e('div').wrap-img
                        +e('img')(src=item.src)
                    +title('h3').--h3.--values-small !{item.title}
                    +e('div').text !{item.text}