//- ====================
//- aurinko: accordion
//- 30-07-2020: sashakasha
//- --------------------
//- Accordion
//- ====================

mixin accordion(data)
    include ui-kit/icon.pug

    +b.accordion(class=data.class)
        .js-accordion(class=data.class)
            each item, index in data.items
                +e.group.-group( class=item.akk )
                    +e.header.-header
                        span !{item.header}
                        +icon('toggle').--accordion
                    +e.content
                        p !{item.content}